.black{
    background-color: #2F303A;
    color: white;
}

footer {
    background-color: #2F303A;
    color: white;

}

button {
    background-color: #2196F3;
    color: white;
}

.blue {
    color: #2196F3;
  }
  
  .black2 {
    color: #000000;
  }
  
  .blue2 {
    color: #2196F3;
  }
  
  .white {
    color: white;
  }

#webstydio-link {
  color: inherit;
  color: white;
}

.footer-link {
  color: #ffffff60;
}

.blue-black {
  color: white;
}

a {
  text-decoration: none;
}

.list-title {
  color: #212121;
}

.list-paragraf {
  color: #757575;
}

.list-name {
  color: #212121;
}

.navigation-link {
  color: #757575;
}

.navigation-links {
  color:  #212121;
}


